
.wh-20{
    width: 20px;
    height: 20px;
}
.wh-30{
    width: 30px;
    height: 30px;
}
.wh-40{
    width: 40px;
    height: 40px;
}
.wh-50{
    width: 50px;
    height: 50px;
}
.wh-60{
    width: 60px;
    height: 60px;
}
.wh-70{
    width: 70px;
    height: 70px;
}
.wh-80{
    width: 80px;
    height: 80px;
}
.wh-90{
    width: 90px;
    height: 90px;
}
.wh-100{
    width: 100px;
    height: 100px;
}
.text-bold-600 {
    font-weight: 600;
}
.img-round{
    border-radius: 50%;
}
table>thead>tr>th{
    font-size: inherit!important;
    font-weight: 600;
}
table.dataTable{
    margin-bottom: 40px!important;
}
.dataTables_length .custom-select.custom-select-sm{
    padding: 10px;
}
.section-head{
    color: #fff;
    margin: 0 15px 20px;
    padding: 15px;
    position: relative;
    border-radius: 3px;
}
.header-rose{
    background: linear-gradient(60deg,#ec407a,#d81b60);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
}
.header-info{
    background: linear-gradient(60deg,#26c6da,#00acc1);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}
.header-primary{
    background: linear-gradient(60deg,#ab47bc,#8e24aa);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}
.section-head>i{
    margin-right: 10px;
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1em;
    margin-bottom: -0.85em;
    vertical-align: middle;
}
/* ///////////////// Nav Bar ///////////////////// */
.navbar .navbar-brand{
    padding: 0.625rem 25px;
    margin: 0;
}
.navbar .navbar-brand>span{
    display: inline-block;
    margin-right: 10px;
}
/* ////////////////////////////////////////////// */

/* //////////////// Side bar ///////////////////////// */
.sidebar{
    box-shadow: 0 16px 13px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.sidebar .logo .simple-text{
    text-align: left;
}
.simple-text.logo-mini{
    opacity: 1;
    float: left;
    width: 30px;
    margin-left: 23px;
    margin-right: 15px;
}
.sidebar .logo .simple-text.logo-normal{
    display: block;;
    opacity: 1;
    transform: translateZ(0);
}
.sidebar .nav li.active>[data-toggle=collapse]{
    border-left: 3px solid #e02b6b;
}
/* //////////// Sidebar mini ////////////// */
.sidebar-mini .sidebar .nav li a{
    padding: 10px;
}
/* ///////////////////////////////////////// */

/* ///////////////////// theme Setting ///////////////// */
.fixed-plugin{
    top: 65px;
}
.fixed-plugin .dropdown .dropdown-menu{
    top: -18px!important;
}
.fixed-plugin .dropdown-menu:before, .fixed-plugin .dropdown-menu:after{
    top: 45px;
}
.fixed-plugin .dropdown .dropdown-menu li.adjustments-line{
    border-bottom: none;
}
.footer .copyright{
    padding: 40px 0 0;
}
/* ////////////////////////////////////////////////////// */
.icon-btn{
    cursor: pointer;
}

/* ////////////////////// MODAL General ///////////// */
.modal .modal-dialog {
    margin-top: 25px;
}
.modal-title{
    font-weight: 600;
}
/* //////////////////////////////////////////// */
/* /////////////////// View Info card //////////////// */
.view-info-card .card-body{
    font-size: 12px;
}
.view-profile-img{
    margin-top: 70px;
}
/* //////////////////////////////////////////////////// */
/* /////////////////// Form //////////////////////// */
.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#e91e63 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}
.bootstrap-select .btn.dropdown-toggle.select-with-transition {
    border: 0!important;
    background-image: linear-gradient(0deg,#e91e63 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}
.bootstrap-select .dropdown-item.active {
    background: #e91e63;
    color: #fff;
}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
    background-color: #e91e63;
    color: #fff;
}
select.form-control,
select.form-control:read-only,
.bootstrap-select.form-control,
.bootstrap-select.form-control:read-only{
    background-image: none;
}
:not(.input-group)>.select-sm>.bootstrap-select.form-control:not([class*=col-]) {
    width: 80px;
}
.select-sm .bootstrap-select>.dropdown-toggle {
    padding-right: 5px;
}
.select-sm .dropdown-menu .dropdown-item, .dropdown-menu li>a{
    min-width: 2rem;
}
.select-sm>.form-control>button.btn{
    margin: .1rem 1px;
}

/* ////////////////////////////////////////// */

/* ///////// Create Form ///////////////// */
.form-elements-continer{
    padding: 2rem;
}
.iti{
    display: block;
}
/* //////////////////////////////////////////// */






















/* ////////////////// Custom Scroller /////////////////// */

ul.iti__country-list::-webkit-scrollbar,
.countrySelect .dropdown-menu .inner::-webkit-scrollbar {
    width: 7px;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color .2s linear,height .2s linear,width .2s ease-in-out,border-radius .2s ease-in-out;
}
ul.iti__country-list::-webkit-scrollbar:hover,
.countrySelect .dropdown-menu .inner::-webkit-scrollbar:hover{
    width: 10px;
}
ul.iti__country-list::-webkit-scrollbar-track,
.countrySelect .dropdown-menu .inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
ul.iti__country-list::-webkit-scrollbar-thumb,
.countrySelect .dropdown-menu .inner::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
    height: 60px;
    border-radius: 6px;
}